<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<audio controls>
  <source src="horse.ogg" type="audio/ogg">
  <source src="horse.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<audio src=”http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4” controls=”controls”> </audio>

<embed src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" controls>

<audio src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" controls>
Your browser does not support the audio element.
</audio>

<audio controls="controls">
<source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" type=”audio/ogg” />
<source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" type="audio/mpeg" />
<embed type=”application/x-mplayer2″ filename=”http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4” height=”43″ width=”300″ showcontrols=”1″ autostart=”1″ playcount=”0″ volume=”0″>
</audio>