<!DOCTYPE html>
<html>
<head>
  <title>Audio player</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <!-- Jquery 임포트-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <style>
        div {
            margin: 10px 0;
        }
        .section-divider{
            margin: 50px 0;
        }
        .share-btn {
            width:50px;
        }
        .share-btns{
            display: none;
        }
    </style>
</head>
<body>

<%= yield %>

</body>
</html>
